*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: Means Web Light, lucida Sans;
    font-size: 4em;
}
.gallery{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 8px;
    padding: 20px;

}
.box img{
    width: 100%;
}
.box{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
#box5{
    grid-column: span 2;
}
#box1{
    grid-row: span 2;
}
#box2{
    grid-row: span 2;
}